@{
    ViewData["Title"] = "Contact";
}
<h2>Api resource with accessToken</h2>


<p id="jsonViewer">
    
</p>

<script>

    //var value = JSON.stringify(')');
    var elem = document.getElementById("jsonViewer");
    elem.innerHTML = @ViewBag.Json;
</script>
